N8N_PORT=5678
N8N_DB_NAME=n8n
N8N_DB_USER=n8n
N8N_DB_PASSWORD=admin
N8N_ENCRYPTION_KEY=9f152c52e3ed4f8f7dc053eb98f838a751dc894bc3a23a02d3afe31d2c79830e
REPORTING_DB_NAME=pathways
REPORTING_DB_USER=pathways
REPORTING_DB_PASSWORD=changeme_local_only
PATHWAYS_DB_NAME=pathways_only
PATHWAYS_DB_USER=pathways_only
PATHWAYS_DB_PASSWORD=changeme_local_only
GENERIC_TIMEZONE=Africa/Nairobi